<div class="span24">
    <h2>{{$storage.translater[country]| uppercase}}</h2>
    <table border="1">
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="field in table.tourHeaders">
                    {{field}}
                    <button class="button button-mini right" ng-click="removeTour(field)">X</button>
                </th>
                <th>
                    <form ng-submit="addTour()">
                        <input type="text"  ng-model="newTour" placeholder="Новый тур">
                    </form>
                </th>
            </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="table.games">
            <tr ng-repeat="row in table.games">
                <td>
                    {{row.command}}
                    <button class="button button-mini right" ng-click="removeCommad(row.command)">X</button>
                </td>
                <td ng-repeat="field in table.tourHeaders">
                    <input type="text" ng-model="row.tours[field]">
                </td>
            </tr>
            <tr>
                <td>
                    <form ng-submit="addCommand()">
                        <input type="text" ng-model="newCommand" placeholder="Новая команда">
                    </form>
                </td>
            </tr>
    </table>
</div>